{% extends 'core/base.html' %}
{% block content %}
<div class="mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="row text-center text-white mb-5">
        <div class="col sm-4">
            <i class="fa-brands fa-python fa-4x mb-3 i-colo"></i> 
            <h3>PYTHON DEVOLPEMENT</h3>
            <p class="ss colo">Python is one of the key elements in the backend of common applications you use today.
                Python Devolper deels with  big data centers acting as the glue between other programs.</p>

        </div>
        <div class="col sm-4">
            <i class="fa-solid fa-palette fa-4x mb-3 i-colo "></i> 
            <h3>WEB DESIGN</h3>
            <p class="ss colo">There are many website builders on the market today that offer a wide range of features and services,But I give opportunity to build website by your own choice<p>

        </div>
        <div class="col sm-4">
            <i class="fa-brands fa-java fa-4x i-colo "></i>
            <h3>JAVA DEVOLPEMENT</h3>
            <p class="ss colo">Java is very basic and very depthful language.It realy gives you the actually feel of root of coding and programing.</p>

        </div>
        <div class="row text-center text-white mb-5">
            <div class="col sm-4">
                <i class="fa-solid fa-minimize fa-4x i-colo "></i>
                <h3>DJANGO</h3>
                <p class="ss colo">Django has a powerful template engine and its own markup language with many tools. Templates are files with HTML code that's used to render data.You can create a small web application or MVP in a matter of hours.</p>
    
            </div>
            <div class="col sm-4">
                <i class="fa-solid fa-laptop-code fa-4x i-colo"></i>
                <h3>MACHINE LEARNING</h3>
                <p class="ss colo">Machine learning (ML) that allows software applications to become more accurate at predicting outcomes without being explicitly programmed to do so <p>

            </div>
            <div class="col sm-4">
                <i class="fa-solid fa-feather-pointed fa-4x i-colo"></i> 
                <h3>WEBSITE DEVELOPMENT</h3>
                <p class="ss colo">eb development is the work involved in developing a website for the Internet (World Wide Web) or an intranet (a private network).</p>
    
            </div>
         
         
    </div>
</div> 
{% endblock content%}